/*Gravity forms*/
#top .gform_page_footer .button.gform_next_button,
#top .gform_page_footer .button.gform_previous_button {
    padding: 9px 22px;
    max-width: 40%;
    
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    
    background-color: #ebb026;
    border: none;
    border-bottom: 2px solid #333!important;
    border-radius: 5px;
    
    cursor: pointer;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea {
    padding: 13px !important;
}

.gform_wrapper .gform_footer input[type="submit"] {
    padding: 16px 20px;
    min-width: 142px !important;

    outline: none;
}

.gform_wrapper .gform_body ul.gform_fields li.gfield {
    /* padding-right: 0; */
}

.gform_wrapper .gform_footer.top_label {
	padding-top: 0;
}

.stuur-je-vraag .gform_body .gform_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stuur-je-vraag .gform_body .gform_fields .gfield {
    width: 49%;
}

.mod .stuur-je-vraag .gform_body .gform_fields .gfield:nth-child(n+3) {
    width: 100%;
}

/* Global Styles */

#top #wrap_all .all_colors #deurwaarder-cta h3 {
    font-size: 24px;
}

.form-centered .gform_wrapper form {
    text-align: center;
}