/*Gravity forms*/
#top .gform_page_footer .button.gform_next_button,
#top .gform_page_footer .button.gform_previous_button {
    padding: 9px 22px;
    max-width: 40%;
    
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    
    background-color: #ebb026;
    border: none;
    border-bottom: 2px solid #333!important;
    border-radius: 5px;
    
    cursor: pointer;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea {
    padding: 13px !important;
}

.gform_wrapper .gform_footer input[type="submit"] {
    padding: 16px 20px;
    min-width: 142px !important;

    outline: none;
}

.gform_wrapper .gform_body ul.gform_fields li.gfield {
    /* padding-right: 0; */
}

.gform_wrapper .gform_footer.top_label {
	padding-top: 0;
}

.stuur-je-vraag .gform_body .gform_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stuur-je-vraag .gform_body .gform_fields .gfield {
    width: 49%;
}

.mod .stuur-je-vraag .gform_body .gform_fields .gfield:nth-child(n+3) {
    width: 100%;
}

.gform_wrapper form .gf_page_steps {
    display: flex;
    padding: 0;
}

.gform_wrapper form .gf_step {
    flex-grow: 1;
    padding: 15px;
    margin: 0;
    height: auto;
    
    text-align: center;

    border-radius: 2px 2px 0 0;

    opacity: 1;
}

.gform_wrapper form .gf_step.gf_step_active {
    color: #fff;

    background-color: #ebb026;
    border-color: #ebb026;
}

#top .gform_wrapper ul li.gfield {
    word-break: break-word;
}

.gform_wrapper .label-ellipsis .gfield_label {
    /* max-height: 18px;
    overflow: hidden; */
}

#top .gform_wrapper input[type="checkbox"] {
    vertical-align: top;
}

#gform_page_7_3 #gform_fields_7_3,
#gform_page_4_3 #gform_fields_4_3 {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#gform_page_7_3 #gform_fields_7_3 .gfield:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)),
#gform_page_4_3 #gform_fields_4_3 .gfield:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    width: 100%;
}

/* Global Styles */
#top #wrap_all .all_colors #deurwaarder-cta h3 {
    font-size: 23px;
}

.form-centered .gform_wrapper form {
    text-align: center;
}

.tabcontainer {
    overflow: hidden;

    border-radius: 10px;
}

.tab_titles {
    display: flex;
    padding-bottom: 1px;
    overflow: hidden;

    border-width: 1px 1px 0;
    border-style: solid;
    border-radius: 10px 10px 0 0;
}

.tab_titles .tab,
.js_active .top_tab .tab {
    flex-grow: 1;
    margin: -1px 0 0;

    border: solid #a9a9a9;
    border-width: 0 0 1px 0;
    outline: none;
}

.tab_titles .tab.active_tab,
.js_active .top_tab .tab.active_tab {
    border-bottom-color: transparent;
    border-left-color: #a9a9a9;
}

.tab_titles .tab ~ .tab:hover:hover {
    border-left-color: #a9a9a9;
}

.tab_titles .tab ~ .tab {
    border-left: 1px solid;
}

.main_color .tabcontainer .tab_titles .tab {
    color: #a9a9a9;
}

div .main_color .tabcontainer .active_tab_content {
    border-width: 0 1px 1px;
    border-radius: 0 0 10px 10px;
}

#top .avia-content-slider-inner .slide-entry-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: initial;
}

#top .avia-content-slider-inner .slide-entry-wrap .flex_column,
#top .avia-content-slider-inner .slide-entry-wrap .flex_column > strong {
    display: flex;
    flex-direction: column;
}

#top .avia-content-slider-inner .slide-entry-wrap .flex_column {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    width: 33.333333333%;
}

#top .avia-content-slider-inner .slide-entry-wrap .flex_column > strong {
    width: 100%;
}

#top .avia-content-slider .slide-entry-excerpt {
    text-align: center;
}

#top .avia-content-slider-inner .slide-entry-wrap .flex_column .entry-footer {
    margin-top: auto;
}

#top .pagination .current {
    color: #f8f8f8;

    background: #000;
}

.page-id-204 p {
    font-size: 14px;
    line-height: 1.8;
}

.page-id-158 .gform_wrapper,
.page-id-158#top form {
    margin-bottom: 0;
}

.page-id-158 .gform_wrapper .gform_footer {
    padding-bottom: 0;
}

.page-id-5078 .avia_textblock > p ~ p > strong {
    display: inline-block;
    margin-top: 30px;
}

.page-id-2982 .entry-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.page-id-2982 div .flex_column {
    display: flex;
    flex-direction: column;
}

.page-id-2982 .entry-content-header {
    display: flex;
}

.page-id-2982 .iconbox {
    margin-bottom: 20px;
}

.page-id-2982 .avia-image-container {
    margin-top: auto;
    margin-bottom: 0;
}

.page-id-2982 .entry-content-header .iconbox_icon {
    top: 0;
    left: 0;

    margin-top: 0;
    margin-right: 10px;
}

.page-id-2982 .entry-content-header .iconbox_content_title {
    margin-bottom: 0;
}

.page-id-2348 .av-parallax-inner,
.page-id-976 .av-parallax-inner {
    background-size: cover !important;
}

.page-id-1079 #av_section_2 .av-section-color-overlay-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
}


#footer .post-date {
    display: block;
}

@media (min-width: 768px) {
    .page-id-4636 .gform_wrapper .gform_body {
        margin-right: -15px;
        width: auto;
    }
}

@media (max-width: 1199px) {
    #top #wrap_all .all_colors #deurwaarder-cta h3 {
        font-size: 18px;
    }

    #top.page-id-646 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 26px;
    }

    .page-id-2982 .entry-content-header .iconbox_icon {
        margin-right: 5px;

        font-size: 20px;
    }

    #top.page-id-2982 #wrap_all .all_colors .iconbox_content_title {
        font-size: 24px;
    }

    #top.page-id-4636 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 30px;
    }

    .page-id-4636 .av_one_third,
    .page-id-462 .av_one_third {
        margin-left: 3%;
        width: 32%;
    }

    .single-post .avia-icon-list .iconlist_icon {
        margin-right: 10px;
    }

    .single-post h4.iconlist_title {
        font-size: 16px;
    }

    .page-id-147 .slide-entry .entry-content-header h3 > a {
        font-size: 22px;
        line-height: 1;
    }
}

/*Contact form textare to fullwidth*/
#field_13_4 {
    width: 100%;
}

.width-50 {
    width: 50%;
}
@media (max-width: 991px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 13px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .container .logo, 
    .container .logo a {
        margin-left: -5px;
    }

    #top #wrap_all .all_colors div h3 {
        font-size: 22px;
    }

    #top .container .av-large-testimonial-slider .avia-testimonial-name {
        font-size: 18px;
    }

    .home #av_section_1 .container,
    .page-id-5899 #av_section_1 .container {
        height: 450px !important;
    }
    
    #av_section_1 p {
        font-size: 18px;
    }

    #top .av-flex-placeholder {
        width: 2%;
    }

    .page-id-14 .av_one_third {
        margin-left: 0;
        width: 35%;
    }

    .page-id-158 #deurwaarder-cta .av_one_third {
        padding: 12px !important;
        width: 32%;
    }

    .page-id-158 #deurwaarder-cta .av_one_third:nth-child(n+2) {
        margin-left: 2%;
    }

    #top #wrap_all .all_colors #deurwaarder-cta h3 {
        font-size: 17px;
    }

    .page-id-4021 h4.av_iconlist_title.iconlist_title.av_inherit_color {
        margin-top: 10px;
        
        font-size: 20px !important;
    }

    #top.page-id-646 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 22px;
    }

    #top.page-id-32 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 38px;
    }

    .page-id-2807 .avia-icon-list .iconlist_icon {
        margin-right: 15px;
    }

    .page-id-2807 .avia-icon-list .av-iconlist-empty .iconlist_title {
        font-size: 16px;
    }

    #top.page-id-2807 #wrap_all .av-inherit-size .av-special-heading-tag {
        margin-top: 15px;

        font-size: 26px;
    }

    .page-id-2807 .avia-builder-el-first .ls-layer {
        padding-bottom: 15px !important;
    }

    .page-id-2807 .avia-builder-el-first .avia-button {
        width: 180px !important;
        max-width: initial;
    }

    #top.page-id-462 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 26px;
    }

    #top.page-id-2078 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 28px;
    }

    #top.parent-pageid-4815 #wrap_all .av-special-heading .av-special-heading-tag {
        font-size: 21px;
    }

    #top.page-id-2982 #wrap_all .all_colors .iconbox_content_title {
        font-size: 22px;
    }

    #top .gform_wrapper ul li.gfield {
        margin-top: 0;
    }

    .single-post .inner_sidebar {
        margin-left: 15px;
    }

    .html_elegant-blog #top.single-post .post-entry .post-title {
        font-size: 26px;
        line-height: 1.1;
    }

    .page-id-147 .slide-entry .entry-content-header h3 > a {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .page-id-4815 .av-iconlist-small .iconlist_title_small {
        font-size: 16px !important;
        line-height: 1;
    }
}

@media (max-width: 767px) {
    #av-burger-menu-ul li a .avia-menu-subtext {
        display: none;
    }

    .phone-info .avia-builder-widget-area {
        margin-top: -7px;
    }

    .container {
        padding-right: 15px !important;
        padding-left: 15px !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    #av_section_1 p {
        font-size: 16px;
    }

    .home #av_section_1 .container,
    .page-id-5899 #av_section_1 .container,
    .page-id-2348 #av_section_1 .container {
        height: 410px !important;
    }

    #top .gform_wrapper,
    #top .gform_wrapper form {
        margin-bottom: 0;
    }

    #top .gform_wrapper input[type="submit"] {
        padding: 15px 30px 13px;
        width: auto;
        min-width: 139px !important;
        min-height: 0;

        font-size: 16px;
        line-height: 1.2;
    }

    body .content,
    body .sidebar,
    body .avia-section-large .content, 
    body .avia-section-large .sidebar {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .responsive #top .container .av-content-small:last-child, 
    .responsive #top #wrap_all .flex_column:last-child, 
    .responsive #top #wrap_all .av-flex-cells .no_margin:last-child {
        margin-bottom: 0;
    }

    .responsive .top_tab .tab.fullsize-tab {
        outline: none;
    }

    .responsive .top_tab {
        border-top: 1px solid #a9a9a9;
    }

    .responsive .top_tab .av_tab_section:not(:last-child) .tab_content {
        border-bottom: 1px solid #a9a9a9;
        border-radius: 0;
    }

    .responsive .top_tab .av_tab_section:last-child .tab {
        border-bottom: 0;
    }

    #top .hr-invisible {
        display: none;
    }

    #top #wrap_all .av-inherit-size h1.av-special-heading-tag {
        font-size: 34px;
    }

    .responsive #top #wrap_all .avia-content-slider-odd .slide-entry {
        margin-bottom: 0;
    }

    .responsive #top #wrap_all .avia-content-slider-odd .slide-entry ~ .slide-entry {
        margin-top: 15px;
    }

    .page-id-4021 h4.av_iconlist_title.iconlist_title.av_inherit_color {
        font-size: 16px !important;
    }

    #top.page-id-32 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 28px;
    }

    .page-id-32 .avia-image-container.avia-align-center .avia-image-container-inner,
    .page-id-203 .avia-image-container.avia-align-center .avia-image-container-inner {
        display: block;
    }

    .page-id-32 .avia-image-container.avia-align-center .avia-image-container-inner .avia_image,
    .page-id-203 .avia-image-container.avia-align-center .avia-image-container-inner .avia_image {
        width: 100%;
    }

    .page-id-462 .gform_wrapper .gf_step span.gf_step_label, 
    .page-id-462 .gform_wrapper .gf_step span.gf_step_number {
        display: block;
    }

    .page-id-462 .gform_wrapper .gf_step span.gf_step_label {
        margin-top: -10px;
    }

    #top.page-id-462 .gform_wrapper ul li.gfield {
        margin-top: 0;
        margin-bottom: 0;
    }

    .page-id-2078 .hr-custom {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .page-id-5078 .avia_textblock > p ~ p > strong {
        margin-top: 15px;
    }

    .page-id-2982 .avia-image-container.avia-align-center {
        margin: 0;
    }

    .page-id-2982 .avia-image-container .avia-image-container-inner {
        display: block;
    }

    .page-id-2982 .avia-image-container .avia-image-container-inner .avia-image-overlay-wrap,
    .page-id-2982 .avia-image-container .avia_image {
        margin-top: 0;
        width: 100%;
    }

    #top .gform_wrapper .gform_page_fields ul li.gfield {
        margin-bottom: 0;
    }

    #top .gform_wrapper form .gf_step {
        display: flex;
        flex-direction: column;
    }

    #top .gform_wrapper .gf_step span.gf_step_label {
        margin-top: -12px;
    }
}

@media (max-width: 575px) {
    body .phone-info .telnr {
        margin-left: 0 !important;
    }

    .page-id-14 section.avia_codeblock_section.avia_code_block_0,
    .page-id-158 section.avia_codeblock_section.avia_code_block_0,
    .page-id-32 section.avia_codeblock_section.avia_code_block_0,
    .page-id-2807 section.avia_codeblock_section.avia_code_block_0,
    .page-id-2078 section.avia_codeblock_section.avia_code_block_0,
    .page-id-646 section.avia_codeblock_section.avia_code_block_0,
    .page-id-34 section.avia_codeblock_section.avia_code_block_0,
    .page-id-4919 section.avia_codeblock_section.avia_code_block_0,
    .page-id-1079 section.avia_codeblock_section.avia_code_block_0,
    .page-id-602 section.avia_codeblock_section.avia_code_block_0,
    .page-id-203 section.avia_codeblock_section.avia_code_block_0 {
        margin-left: 0;
    }

    .stuur-je-vraag .gform_body .gform_fields .gfield {
        width: 100%;
    }

    .stuur-je-vraag .gform_body .gform_fields .gfield ~ .gfield,
    .gform_wrapper .stuur-je-vraag  .gform_footer  {
        margin-top: 0;
    }

    .responsive #top .av-large-testimonial-slider.avia-testimonial-wrapper .avia-testimonial {
        padding-right: 20px;
        padding-left: 20px;
    }

    #top .avia-slideshow-arrows a.prev-slide {
        left: -45px;
    }

    #top .avia-slideshow-arrows a.next-slide {
        right: -45px;
    }

    .page-id-4942 #av_section_1 .container,
    .page-id-646 #av_section_1 .container,
    .page-id-4815 #av_section_1 .container {
        height: 410px !important;
    }

    #top.page-id-32 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 26px;
    }

    .page-id-2807 #layer_slider_1.avia-builder-el-first .avia-button {
        transform: scale(.5);
        transform-origin: left top;
    }

    #top.page-id-976 #wrap_all .av-inherit-size .av-special-heading-tag {
        font-size: 34px;
    }

    .page-id-4815 .av-iconlist-small .iconlist_title_small {
        font-size: 16px !important;
        line-height: 1.8;
    }

    .page-id-2982 .iconbox {
        margin-bottom: 15px;
    }

    .page-id-2982 .entry-content-header .iconbox_icon {
        margin-right: 5px;
        width: 20px;
        height: 20px;
        
        font-size: 16px;
        line-height: 1.5;
    }

    #top.page-id-2982 #wrap_all .all_colors .iconbox_content_title {
        font-size: 20px;
    }

    .responsive #top.page-id-2982  #wrap_all .flex_column {
        margin-bottom: 30px;
    }

    .html_elegant-blog #top.single-post .post-entry .post-title {
        font-size: 23px;
    }
}

@media (max-width: 540px) {
    .phone-info .avia-builder-widget-area {
        margin-top: 0;
    }
}