/*
    Theme Name: Enfold Child
    Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
    Version: 1.0
    Author: Kriesi
    Author URI: http://www.kriesi.at
    Template: enfold
*/
body label,
body p,
.gform_body {
    word-break: break-word;
}

.logo, .logo a {
    overflow: visible !important;
    margin-left: -11px;
}

.header-scrolled-full .logo a img {
    max-height: 55px !important;
}

.phone-info .telnr {
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 0;
}

.phone-info .telnr a {
    color: #b02b2c !important;
    font-size: 13px;
}

.phone-info .avia-builder-widget-area {
    float: left;
    margin-left: 30px;
    margin-bottom: -10px;
}

.phone-info .widget {
    padding: 0;
}

.centertext {
    width: 55%;
}
.tablerow {
    border-bottom: 1px solid black;
}

table {
    border: 1px solid black;
}

.incassokosten tr td {
    border: 0px solid black;
}

#top #wrap_all .av-inherit-size .av-special-heading-tag {
    text-transform: uppercase;
}

#bereken {
    border: 10px;
    background-color: #ebb026;
    border-color: #c99004;
    color: #fff;
    padding: 5px 5px 5px 8px;
    max-width: 180px;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 3px;
    cursor: pointer;
}

#bereken:hover {
    cursor: pointer;
    background-color: #ebb926;
}

#vervaldatum {
    width: 20% !important;
}

#debiteur {
    margin-left: 11.3%;
}

.bedrag {
    width: 15% !important;
}

.avia-button.avia-size-large,
.avia-button.avia-size-medium,
#top .avia-button-fullwidth,
.main_color input[type='submit'] {
    background-color: #ebb026 !important;
    border-bottom: 2px solid #c99004 !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

/*
ul.flags li {
	display: inline-block;
	height: 20px;
	width: 20px;
	overflow: hidden;
	position: relative;
}

ul.flags li img {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}

ul.flags li a:hover img {
	position: absolute;
	left: 0;
	top: -20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

ul.flags li.nl img {
	position: absolute;
	left: 0;
	top: -20px;
}
*/

/* Dropdown menu test */
.dropbtn {
    font-size: 11px;
    text-decoration: none !important;
}

.dropdowntest a:hover {
    color: #ebb026;
}

.dropdowntest {
    font-size: 13px;
    text-decoration: none;
}

li.dropdowntest {
    margin-top: -2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e1e1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 11px;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    position: relative;
}

.dropdown-content a:hover {
    background-color: #ebb026 !important;
}

.dropdowntest:hover .dropdown-content {
    display: block;
}

.dropdown-content img {
    margin-right: 1000px;
}

.dropdown-content img, .dropdown-content span {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: -5px;
    float: right;
}

.dropbtn img {
    margin-left: 3px;
    margin-bottom: -2px;
}

#gform_wrapper_6.gform_validation_error .gfield:not(.gfield_error) {
    padding-top: 8px;
    padding-bottom: 6px;
}

#gform_wrapper_6.gform_validation_error .gfield:not(.gfield_error) .gfield_label,
#gform_wrapper_6.gform_validation_error .gfield:not(.gfield_error) .ginput_container {
    margin-top: 12.5px;
}

#custom_html-4 {
    padding: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #gform_wrapper_6 .gfmc-column {
        width: 50% !important;
    }
}

@media screen and (min-width: 768px) {
    .hidden-desktop {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .home #av_section_1 .av-section-color-overlay {
        opacity: .4 !important;
    }
    .home #av_section_1 .av-subheading.av_custom_color {
        opacity: 0.9;
    }
    .av-burger-overlay .menu-item-534 .sub-menu .menu-item-534 .avia-menu-text:after {
        content: 'procedure';
    }
    .menu-link--phone,
    .menu-link--mail {
        background-color: #f6f6f6;
    }
    .menu-link--phone .avia-menu-text, 
    .menu-link--mail .avia-menu-text {
        text-decoration: underline;
    }
    .menu-link--phone .avia-menu-text:after, 
    .menu-link--mail .avia-menu-text:after {
        position: absolute;
        margin-left: 10px;
        font-family: 'entypo-fontello';
    }
    .menu-link--phone .avia-menu-text:after {
        content: '';
    }
    .menu-link--mail .avia-menu-text:after {
        content: '';
    }
    .sticky-action-btns {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #e1e1e1;
    }
    .sticky-action-btns a {
        padding: 6px;
        width: 25%;
        font-size: 15px;
        font-weight: bold;
        color: #373941;
        text-decoration: none;
    }
    .sticky-action-btns a.btn-yellow {
        width: 50%;
        font-weight: bold;
        color: #fff;
        background-color: #ebb026;     
    }
    .sticky-action-btns a.btn-phone {
        border-right: 1px solid #e1e1e1;
    }
    .zopim[data-test-id="ChatWidgetMobileButton"] {
        right: 0 !important;
        bottom: 0 !important;
        width: 25% !important;
        height: 37px !important;
        opacity: 0 !important;
    }
    .page-id-462 .sticky-action-btns .btn-yellow {
        display: none;
    }
    .page-id-462 .sticky-action-btns a {
        width: 50%;
    }
    .page-id-462 .zopim[data-test-id="ChatWidgetMobileButton"] {
        width: 50% !important;
    }
    footer#socket {
        padding-bottom: 40px;
    }
}


@media (max-width: 320px) {
    .phone-info .telnr {
        margin-left: -18px !important;
    }

    #top ul.flags {
        margin: 15px auto auto -18px !important;
    }

    .bedrag {
        width: 55% !important;
    }

    #vervaldatum {
        width: 40% !important;
    }
	/*
    .incassokosten {
        width: 560px;
    }
	*/

}

@media (max-width: 540px) {

    .responsive .phone-info {
        text-align: left;
    }

    .phone-info .telnr {
        font-size: 0px;
    }

    .phone-info .telnr a {
        width: 38px;
        height: 38px;
        overflow: hidden;
        border: 3px solid #ebb026 !important;
        border-radius: 100%;
        float: left;
        padding: 6px;
        font-size: 24px;
        line-height: 20px;
        display: inline-flex;
        margin-top: 5px;
    }

    .phone-info .telnr a:before {
        content: "\e854";
        font-family: 'entypo-fontello';
        margin-right: 30px;
    }

    .phone-info .telnr span:before {
        margin: 50px 0 0 12px;
    }

    #top ul.flags {
        margin: 15px auto auto -6px;
        width: 150px;
    }

    .social_bookmarks {
        display: none;
    }

    #avia2-menu {
        position: absolute !important;
    }

    .responsive #header .sub_menu, .responsive #header_meta .sub_menu > ul {
        margin: 24px 0 0 0 !important;
        width: 100px;
        float: right;
        padding: 0;
    }

    #top #header_meta a, #top #header_meta li, #top #header_meta {
        color: #000;
    }

    .responsive #top .logo {
        margin-top: 7px;
    }

    #menu-item-2128 {
        float: right !important;
        background-color: #ebb026 !important;
        border-bottom: 2px solid #c99004 !important;
        color: #fff !important;
        border-radius: 5px;
        width: 80px;
        height: 30px;
        margin-top: -10px;
        font: inherit;
        vertical-align: baseline;
    }

    #menu-item-2129 {
        display: none !important;
    }

    #menu-item-2130 {
        display: none !important;
    }

    #menu-item-2222 {
        display: none !important;
    }

    #header_meta {
        margin-top: -25px !important;
    }

    .widget ul #footer {
        margin: unset;
    }

    #footer .widget {
        margin: 30px 0 -15px 0;

    }

    #socket .copyright {
        text-align: center;
        margin-left: 40px;
        font-size: 12px;
    }

    #top .avia_ajax_form .text_input {
        width: 80% !important;
        border-color: #a6a6a6 !important;
        border-width: 1px !important
    }

    #top .avia-slider-testimonials.avia-testimonial-wrapper .avia-testimonial-row {
        float: left;
        margin-bottom: 20px;
    }

    section.avia_codeblock_section.avia_code_block_0 {
        /* margin-left: 55px; */
        margin-bottom: 0px;
    }

    #top fieldset {
        margin-bottom: -32px;
    }

    #top .av-custom-form-color .button {
        border: none;
        height: 60px;
        margin-top: 0px;
    }

    a.av-magazine-content-wrap {
        font-size: xx-small;
    }

    h3.av-magazine-title.entry-title {
        font-size: 17px !important;
    }

    img.avia_image {
        margin-top: 25px;
    }

    #top #wrap_all .all_colors h3 {
        font-size: 24px;
    }

    #tfcwidgetcontainer {
        margin-left: -55px;
    }

    .template-page h2 {
        font-size: 16px;
    }

    /* dropdownmenu test */
    .dropbtn {
        background-color: #ebb026 !important;
        border-bottom: unset !important;
        border-radius: 5px;
        width: 80px;
        height: 30px;
        margin-top: 10px;
        vertical-align: baseline;
    }

    li.dropdowntest {
        float: left !important;
        background-color: #ebb026 !important;
        border-bottom: 2px solid #c99004 !important;
        border-radius: 5px;
        width: 80px;
        height: 30px;
        margin-top: 9px;
        font: inherit;
        text-align: center;
    }

    .bedrag {
        width: 55% !important;
    }

    #vervaldatum {
        width: 55% !important;
    }
    /*
	.incassokosten {
        width: 190%;
    }
	
    .table2 {
        width: 190%;
    }
	*/
	
    .centertext {
        width: 110%;
    }

    #top #avia2-menu li:hover > ul {
        display: none;
    }
}

.wpcf7-response-output {
	clear: both;
}

.incassokosten h2.onze-aanpak{
	text-align: center
}